version: "3.9"

services:

  db:
    image: mysql:8
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: Vidhi@4104
      MYSQL_DATABASE: realestate_db
    ports:
      - "3306:3306"
    volumes:
      - ./backend/initdb:/docker-entrypoint-initdb.d
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "-pVidhi@4104" ]
      interval: 10s
      retries: 10

  backend:
    build: ./backend
    ports:
      - "5000:5000"
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
