services:

  mysql:
    image: mysql:8
    container_name: realestate_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: realestate_db
    ports:
      - "3307:3306"
    volumes:
      - ./backend/initdb:/docker-entrypoint-initdb.d
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 5s
      timeout: 5s
      retries: 10

  backend:
    build: ./backend
    container_name: realestate_backend
    restart: always
    ports:
      - "5000:5000"
    depends_on:
      mysql:
        condition: service_healthy

  frontend:
    build: ./frontend
    container_name: realestate_frontend
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - backend
